.RS {
  background: rgb(244,67,54);
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  height: 22px;
  width: 22px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
