.Requirements {
  padding: 0 100px;
}

.Requirements__inner {
  max-width: 1250px;
  margin: auto;
  padding: 100px 0 25px;
}

.Requirements__cover {
  height: 25px;
  background: white;
  position: fixed;
  top: 0;
}

.Requirements .Filter {
  position: fixed;
}
