.Modal {
  position: fixed;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Modal__inner {
  position: relative;
  background: #d9d9d9;
}

.Modal__inner .Close {
  position: absolute;
  top: -20px;
  right: -20px;
}

/* .Modal__inner .Loader {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
} */
.Modal__inner .Loader {
  position: absolute;
  top: 5px;
  left: 10px;
}

.Modal__header {
  height: 40px;
  display: flex;
  padding: 5px;
}

.Modal__switch {
  cursor: pointer;
  flex: 1;
  margin: 0 5px;
  border-bottom: 2px solid #4b4f53;
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: center;
}

.Modal__title {
  background: #333;
  font-size: 1.4rem;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Modal__form {
  padding: 10px;
}

.Modal__form > *:last-child {
  margin-bottom: 0;
}

.Modal__label {
  height: 40px;
  display: flex;
  align-items: center;
}

.Modal__input {
  width: 100%;
  margin-bottom: 10px;
}

.Modal__textarea {
  width: 100%;
  margin-bottom: 10px;
}

.Modal__footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 40px;
  flex-direction: row-reverse;
}

.Modal__error {
  font-size: 0.9rem;
  font-weight: 900;
}

.Modal__buttonGroup {
  margin: 0 -5px;
}

.Modal__buttonGroup > * {
  margin: 0 5px;
}

.Modal__button-secondary {
  border-width: 2px;
  border-style: solid;
  background: #d9d9d9;
}
