.Filter {
  position: fixed;
  top: 25px;
  background: #333333;
  display: flex;
}

.Filter i {
  font-size: 20px;
  color: #d9d9d9;
}

.Filter__part:nth-child(1) {
  flex: 0 0 30%;
}
.Filter__part:nth-child(2) {
  flex: 0 0 70%;
}

.Filter__part {
  display: flex;
  position: relative;
}

.Filter__icon {
  height: 50px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Filter__icon-caret:hover {
  color: white;
  cursor: pointer;
}

.Filter__icon-caret:hover i {
  color: white;
}

.Filter__icon-search {
  background: #4b4f53;
}

.Filter__input {
  width: calc(100% - 80px);
  background: #4b4f53;
  height: 50px;
  font-size: 1.5rem;
  padding-left: 0;
  color: #d9d9d9;
  text-transform: uppercase;
}

.Filter__dropdown {
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  background: #333333;
}
.Filter__dropdown__item {
  height: 50px;
  display: flex;
  align-items: center;
  color: #d9d9d9;
  cursor: pointer;
  text-transform: uppercase;
}

.Filter__dropdown__item:hover {
  color: white;
}
