.Filter {
  background: #333333;
  display: flex;
  transition: 0.1s;
  font-size: 1.5rem;
  color: #d9d9d9;
  text-transform: uppercase;
}



.Filter__part:nth-child(1) {
  flex: 0 0 30%;
  z-index: 1;
}
.Filter__part:nth-child(2) {
  flex: 0 0 70%;
}

.Filter__part {
  display: flex;
  align-items: center;
  position: relative;
}

.Filter__icon {
  height: 50px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Filter__icon-caret {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: #333333;
}

.Filter__icon-caret:hover {
  color: white;
  cursor: pointer;
}

.Filter__icon-caret:hover i {
  color: white;
}

.Filter__icon-search {
  background: #4b4f53;
  position: absolute;
  top: 4px;
  left: 40px;
  z-index: 1;
  height: 40px;
}

.Filter__icon i{
  font-size: 1.3rem;
}

.Filter__input {
  width: 100%;
  background: #4b4f53;
  height: 50px;
  font-size: 1.5rem;
  padding-left: 80px;
  color: #d9d9d9;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
  border-top: 4px solid #333333;
  border-bottom: 4px solid #333333;
}

.Filter__dropdown {
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  background: #333333;
}
.Filter__dropdown__item {
  height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Filter__dropdown__item:hover, .Filter__dropdown__item:hover i {
  color: white;
}

.Filter__letters {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 0 15px;
  user-select: none;
  height: 50px;
}
.Filter__letter {
  cursor: pointer;
}
.Filter__letter:hover {
  color: white;
}

.Filter__letter-active {
  color: rgb(244,67,54) !important;
}