.App .Navigation {
  position: fixed;
  top: 0;
  left: -140px;
}

.App .Log {
  position: fixed;
  bottom: 25px;
  left: -140px;
}
.App .Log:hover {
  transform: translate(140px)
}

.App .Add {
  position: fixed;
  top: 25px;
  right: 25px;
}