.TableRow {
  font-size: 1.1rem;
}

.TableRow__requirements:hover {
  background-color: rgba(244,67,54, 0.1) !important;
}

.TableRow__offices:hover {
  background-color: rgba(33,150,243, 0.1) !important;
}

.TableRow__railLoads:hover {
  background-color: rgba(76,175,80, 0.1) !important;
}

.TableRow > * {
  border: 1px solid #ddd;
}

.TableRow th {
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
}

.TableRow td {
  padding: 5px;
}

.TableRow td > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.TableRow .RS {
  flex-shrink: 0;
  margin-left: 5px;
}
