.TableRow {
  font-size: 1.1rem;
}

.TableRow > * {
  border: 1px solid #ddd;
}

.TableRow th {
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
}

.TableRow td {
  padding: 5px;
}

.TableRow td > div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.TableRow .RS {
  flex-shrink: 0;
  margin-left: 5px;
}
